/* h3.ProductionListItem__title {
    color: white;
    margin: 0;
    display: inline;
}

h3.ProductionListItem__title:hover {
    font-size: 31px;
}

p.ProductionListItem__year {
    color: white;
} */