header.landing-page-header {
    background-image: url('https://github.com/maximus202/productionweaver-app/blob/styling/public/heroimage-min.jpg?raw=true');
        background-size: cover;
    height: 500px;
    background-position: inherit;
    padding-top: 50%;
}

header.landing-page-header h1 {
    margin: 10px;
    background-color: transparent;
    color: white;
}