header.landing-page-header {
    background-image: url('https://github.com/maximus202/productionweaver-app/blob/styling/public/heroimage-min.jpg?raw=true');
    background-size: cover;
    background-position: inherit;
    padding: 125px 0 125px 0;
}

header.landing-page-header h1, header.landing-page-header a {
    color: white;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  header.landing-page-header {
    padding: 200px 0 200px 0;
  }
}