header.landing-page-header {
    background-image: url('https://github.com/maximus202/productionweaver-app/blob/styling/public/heroimage-min.jpg?raw=true');
    background-size: cover;
    background-position: inherit;
    padding: 150px 0 150px 0;
}

/*h2, p {
    margin: 15px 20px 20px 20px;
}

h2 {
    margin-bottom: 0;
}

section.feature {
    margin: 100px 5px 100px 5px;
}*/

header.landing-page-header h1 {
    color: white;
    text-align: center;
}

header.landing-page-header a {
    color: white;
    margin: 0 10px;
}

section.call-to-action {
    background-color: #9B9B96;
    padding: 100px 0;
}

section.call-to-action h2 {
    padding-bottom: 15px;
     margin-left: 15%;
}

section.call-to-action h2, section.call-to-action a {
    background-color: transparent;
    text-align: center;
    color: #F6F7F7;
    margin: 0 15% 0 15%;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  section.feature {
    
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
h2, p {
    text-align: center;
}
  header.landing-page-header {
    padding: 300px 0 300px 0;
  }
}