img.logo {
    width: 150px;
    height: 48.75px;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  img.logo {
      width: 175px;
      height: 56.88px;
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  img.logo {
    width: 175px;
    height: 56.88px;
  }
}