img.logo {
    width: 100px;
    height: 32px;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  img.logo {
      width: 125px;
      height: 41.25px;
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  img.logo {
    width: 125px;
    height: 41.25px;
  }
}