/* div.script-breakdown-selection {
    background-color: #ad6161;
    color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #00000059;
    align-self: center;
    height: 45px;
}

div.script-breakdown-selection p a {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

header.ProductionPage__header {
    background-color: #282638;
}

header.ProductionPage__header h2, header.ProductionPage__header p {
    color: white;
}

p.ProductionPage__header-list {
    font-weight: 800;
    margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
    header.ProductionPage__header h2, header.ProductionPage__header p {
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
} */