input.AccountSignUpForm__input {
    background-color: #ffffff;
    color: #282638;
}

form.AccountSignUpForm__form {
    background-color: #282638;
}

form.AccountSignUpForm__form > input#submit {
    background-color: #79ccff;
    border: solid 1px #79ccff;
    box-shadow: none;
    color: #282638;
}