nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    margin-top: 15px;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  nav {
      margin: 10px;
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  nav {
    margin: 25px;
  }
}