nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282638;
    padding: 10px;
}

.Menu__logged-out, .Menu__logged-in {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #282638;
}

.Menu__logged-out a, .Menu__logged-in a {
  color: white;
}

/*
@media only screen and (min-width: 768px) {
  nav {
      padding: 10px;
  }
}


@media only screen and (min-width: 1024px) {
  nav {
    margin: 25px;
  }
}*/