/* header.AccountDashboardPage__header, main.AccountDashboardPage__main {
    background-color: #282638;
}

header.AccountDashboardPage__header h2 {
    color: white;
}

ul.AccountDashboardPage__ul {
    list-style-type: none;
    padding: 0;
}

ul.AccountDashboardPage__ul li {
    background-color: #282638;
    padding-bottom: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.AccountDashboardPage__ul p {
    color: white;
}

@media only screen and (min-width: 1024px) {
    header.AccountDashboardPage__header {
    display: flex;
    justify-content: center;
    text-align: center;
    }

    header.AccountDashboardPage__header a.white-button {
        align-self: center;
    }

    main.AccountDashboardPage__main section {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
} */