.SceneBreakdownPage__h1 {
    text-transform: uppercase;
}

.SceneBreakdownPage__elements-list ul {
    padding: 0;
}

.SceneBreakdownPage__elements-list li {
    display: inline-block;
    background-color: #606C76;
    padding: .3rem 2rem;
    width: fit-content;
    border-radius: .4rem;
    color: white;
    margin: .5rem;
}