@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  background-color: #FFFFFF;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(#59708f, #415572) ;
}

h1, h2, p {
  color: #59708F;
  background-color: transparent;
  margin: 7px 0 7px 0;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

a {
  display: flex;
  background-color: transparent;
  color: #AB7676;
  padding: 3px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

header > section > h1, header > section > p {
  color: white;
}

header > section > p {
  font-size: 16px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

section.production-item {
    width: 100%;
    margin: 0;
    background-color: #AB7676;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #00000059;
    margin-top: 2px;
    margin-bottom: 2px;
}

section.production-item h3 {
  background-color: transparent;
  color: white;
}

img.production-icon {
  background-color: transparent;
  width: 64px;
  align-self: center;
}

input {
    height: 45px;
    border: solid 1px #59708f52;
    margin: 1px 0;
    font-size: 20px;
    padding: 0 15px 0 15px;
    border-radius: 3px;
    color: #59708F;
}

input#submit {
    background-color: #AB7676;
    border: solid 1px #AB7676;
    color: #FFFFFF;
}

div.call-to-action {
    background-color: #9B9B96;
    padding: 100px 0;
}

div.call-to-action h2, div.call-to-action a {
    background-color: transparent;
    color: #FFFFFF;
}

section.module-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;
}

div.bottom-bar {
    width: 100%;
    display: flex;
    flex-flow: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    padding: 20px;
    justify-content: center;
}

div.bottom-bar button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: black;
  color: white;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  section {
  margin-top: 3%;
  margin-bottom: 3%;
}
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
section {
  width: 45%;
  margin-top: 2%;
  margin-bottom: 2%;
}

  h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
}

a {
  font-size: 15px;
}
}