@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  background-color: #F6F7F7;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0 50px 0;
}

h1, h2, p {
  color: #59708F;
  background-color: transparent;
  margin: 7px 0 7px 0;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

a {
  display: flex;
  background-color: transparent;
  color: #AB7676;
  padding: 3px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0 20px 0 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

div.call-to-action {
    background-color: #9B9B96;
    padding: 100px 0;
}

div.call-to-action h2, div.call-to-action a {
    background-color: transparent;
    color: #F6F7F7;
}

section.module-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;
}

div.bottom-bar {
    width: 100%;
    display: flex;
    flex-flow: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    padding: 20px;
    justify-content: center;
}

div.bottom-bar button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: black;
  color: white;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
}
}