@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  background-color: #f6f7fa;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 0;
  padding: 20px 0 20px 0;
}

h1, h2, h3, h4, h6, h6 {
  font-family: 'BwModelica', sans-serif;
  background-color: transparent;
}

h1 {
  margin: 0;
  color: #2E2E2E;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.47em;
  letter-spacing: -1px;
}

h2 {
  color: #2E2E2E;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.47em;
  letter-spacing: -1px;
  text-transform: uppercase;
}

h3 {
  text-transform: none;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.47em;
  letter-spacing: -1px;
}

p, label, input, select {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #2E2E2E;
  font-weight: 500;
  line-height: 1.47em;
  background-color: transparent;
}

a {
  display: flex;
  background-color: transparent;
  color: #6270ff;
  padding: 3px 0;
  font-size: 11px;
  font-weight: 800;
  line-height: 1.41em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

a:hover {
  font-size: 14px;
}

p.subtitle {
  font-size:100px;
}

form {
    display: flex;
    flex-direction: column;
}

img {
  background-color: transparent;
}

section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  
  margin-left: 20px;
  margin-right: 20px;
}

label {
  display: none;
}

input, select {
    color: #2E2E2E;
    font-weight: 500;
    height: 45px;
    border: 0;
    margin: 1px 0 20px 0;
    padding: 0 15px 0 15px;
}

input#submit {
    width: fit-content;
    padding: 0 25px 0 25px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1.2px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #6270ff;
    border: solid 1px #5662e3;
    color: #FFFFFF;
    box-shadow: #adacac 4px 6px 10px;
}

input#submit:hover {
  background-color: #5c67e8;
}

a.white-button {
  background-color: white;
  width: max-content;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

section.call-to-action {
    background-color: #565654;
    padding: 100px 0;
    margin: 0;
    width: 100%;
}

section.call-to-action h2, section.call-to-action a {
    background-color: transparent;
    color: #FFFFFF;
}

section.module-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;
}

section.bottom-bar {
    width: 100%;
    display: flex;
    flex-flow: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    padding: 0 0 20px 0;
    justify-content: center;
    align-self: center;
    margin: 0;
}

section.bottom-bar button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: black;
  color: white;
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  h1 {
  font-size: 48px;
  line-height: 70px;
}

h2 {
  font-size: 34px;
  line-height: 50px;
}

p, label, input, select {
  font-size: 16px;
  line-height: 1.47em;
}

a {
  font-size: 12px;
  line-height: 1.47em;
  }

  a:hover {
  font-size: 13px;
}
}