header.landing-page-header, section.feature, section.call-to-action {
    flex-direction: column;
    text-align: left;
}

header.landing-page-header, section.call-to-action {
    padding: 12% 0 12% 0;
}

section.feature {
    padding: 6% 0 6% 0;
}