@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-BlackItalic.woff2') format('woff2'),
        url('BwModelica-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-ExtraBoldItalic.woff2') format('woff2'),
        url('BwModelica-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Regular.woff2') format('woff2'),
        url('BwModelica-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-RegularItalic.woff2') format('woff2'),
        url('BwModelica-RegularItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Medium.woff2') format('woff2'),
        url('BwModelica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-ThinItalic.woff2') format('woff2'),
        url('BwModelica-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Black.woff2') format('woff2'),
        url('BwModelica-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Thin.woff2') format('woff2'),
        url('BwModelica-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-ExtraBold.woff2') format('woff2'),
        url('BwModelica-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica Hairline';
    src: url('BwModelica-Hairline.woff2') format('woff2'),
        url('BwModelica-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-LightItalic.woff2') format('woff2'),
        url('BwModelica-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica Hairline';
    src: url('BwModelica-HairlineItalic.woff2') format('woff2'),
        url('BwModelica-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-MediumItalic.woff2') format('woff2'),
        url('BwModelica-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Bold.woff2') format('woff2'),
        url('BwModelica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Light.woff2') format('woff2'),
        url('BwModelica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-BoldItalic.woff2') format('woff2'),
        url('BwModelica-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

